<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>

    <!-- Font Icon -->
    
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="main">

        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Signup</h2>
                        <form action="" method="POST"  class="register-form" id="register-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{form.name}}
                                                                       
                            </div>
                            
                            <div class="form-group">
                                <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                                {{form.phone}}
                            </div>
                           
                            <div class="form-group">
                                <label for="address"><i class="zmdi zmdi-code"></i></label>
                                {{form.address}}
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                {{form.email}}
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                {{form.pasw}}
                            </div>
                            <div data-wrapper-react="true">
                                <div data-wrapper-react="true">
                                  <div class="qq-uploader-buttonText-value">
                                  </div>
                                  <input type="file" id="input_22" name="photo1" class="form-control-file" data-imagevalidate="yes" data-file-accept="pdf, doc, docx, xls, xlsx, csv, txt, rtf, html, zip, mp3, wma, mpg, flv, avi, jpg, jpeg, png, gif" data-file-maxsize="10854" data-file-minsize="0" data-file-limit="" data-component="fileupload" />
                                </div>
                                <span style="display:none" class="cancelText">
                                  Cancel
                                </span>
                                <span style="display:none" class="ofText">
                                  of
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/signin-image.png' %}" alt="sign in image"></figure>
                        <a href="{%url 'login' %}" class="signup-image-link">I am already a member</a>
                    </div>
                </div>
            </div>
        </section>

       

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>

    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Your Name';
    form_fields[2].placeholder='Phone';
    form_fields[3].placeholder='Address';
    form_fields[4].placeholder='Email';
    form_fields[5].placeholder='Password';


    for (var field in form_fields){	
    form_fields[field].className += ' form-control'
    }
    </script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>